* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  list-style: none;
  resize: none;
}
@font-face {
  font-family: myfont;
  src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: myfont2;
  src: url(./fonts/Arimo-VariableFont_wght.ttf);
}
@font-face {
  font-family: myfont3;
  src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 70px;
  background-color: rgb(241, 241, 227);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 20;
}
.lineburger {
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 10px;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
  position: fixed;
  z-index: 100;
  top: 10px;
  right: 10px;
  padding: 10px;
}

#chek {
  display: none;
}
#chek:checked ~ nav {
  display: flex;
}
#chek:checked + label .burger .lineburger:nth-child(2) {
  display: none;
}
#chek:checked + label .burger .lineburger:nth-child(1) {
  transform: rotate(45deg) translate(7px);
  transition: 0.5s;
}
#chek:checked + label .burger .lineburger:nth-child(3) {
  transform: rotate(-45deg) translate(5px);
  transition: 0.5s;
}
#chek:checked ~ nav ul {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  padding: 30px;
  gap: 50px;
  background-color: rgb(241, 241, 227);
}

#chek:checked ~ nav {
  position: fixed;
  top: 310px;
  /* right: 20px; */
  background-color: rgb(241, 241, 227);
  width: 100%;
  z-index: 5;
  margin-top: 110px;
}

.logo {
  /* width: 70%; */
  height: 70px;
  /* background-color: red; */
  display: flex;
  margin-left: 40px;
}

.child {
  display: flex;
  align-items: center;
}
.child a {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color: #1e3221;
}
nav {
  /* width: 30%; */
  height: 70px;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  margin-top: 5px;
}
nav ul {
  display: flex;
  gap: 20px;
}
li {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1e3221;
}
i {
  font-size: x-large;
  cursor: pointer;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  /* gap: 1px; */
  position: relative;
  margin-top: 70px;
  flex-wrap: wrap;
}
.left-image {
  width: 49.5%;
  min-width: 300px;
  flex-grow: 1;
  height: 100vh;
  background-image: url(https://static.wixstatic.com/media/88aac0_151b51bfa40f42dca334d68c1a1ff1b6~mv2.png);
  background-position: center;
  background-size: cover;
}
.right-image {
  min-width: 300px;
  flex-grow: 1;
  width: 50%;
  height: 100vh;
  background-image: url(https://static.wixstatic.com/media/11062b_83b1b97686c443c688445c1e19eabfdf~mv2.jpg/v1/fill/w_628,h_917,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_83b1b97686c443c688445c1e19eabfdf~mv2.jpg);
  background-position: center;
  background-size: cover;
}
.center-box {
  width: 450px;
  /* height: 400px; */
  /* position: absolute;
  top: 30%;
  left: 38%; */
  background-color: rgb(241, 241, 227);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-size: 20px;
  animation: showup 2s;
}
@keyframes showup {
  from {
    width: 5%;
  }
  to {
    width: 450px;
  }
}
@keyframes showup2 {
  from {
    width: 5%;
  }
  to {
    width: 140px;
  }
}

.center-box h1 {
  font-size: 40px;
  text-align: center;
  color: #1e3b22;
  font-family: myfont;
  font-weight: 100;
}
.center-box p {
  font-weight: lighter;
  color: #2a492e;
  text-align: center;
}

.scroll-touch {
  padding: 7px;
  width: 140px;
  font-size: 20px;
  background-color: #1e3221;
  font-family: "Times New Roman", Times, serif;
  border: none;
  display: flex;
  justify-content: center;
  color: white;
  animation: showup2 1s;
}
.scroll-touch:hover {
  background-color: white;
  color: #1e3b22;
  border: 2px solid #1e3b22;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
i {
  font-size: 30px;
}

.bookSession {
  width: 100%;
  /* height: 100vh; */
  background-color: rgb(241, 241, 227);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.booklesson {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 30px;
  padding: 40px;
}
.booklesson h1 {
  color: #2a492e;
  font-family: myfont;
  font-weight: 100;
}
.down h3 {
  font-weight: 100;
}
.down p {
  font-weight: lighter;
  color: #1e3221;
}
.boxesbook {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
  font-weight: 100;
}
.box {
  /* width: 550px; */
  background-color: rgb(241, 241, 227);
  border: 1px solid gray;
  /* flex-grow: 1; */
}
button {
  width: 100px;
  height: 40px;
  color: white;
  background-color: #1e3b22;
  border: none;
  cursor: pointer;
  font-family: myfont2;
}
.booknow:hover {
  text-decoration: underline;
}
.learn a {
  color: white;
  font-family: myfont2;
}
.learn {
  animation: showup2 1s;
  width: 140px;
}
.learn:hover {
  background-color: white;
  color: #1e3b22;
  border: 1px solid gray;
  cursor: pointer;
}
.learn a:hover {
  color: #1e3221;
}
.up-1 {
  background-image: url(https://static.wixstatic.com/media/88aac0_49b19ce6fa2343b1957188befc1710a1~mv2.jpg/v1/fill/w_434,h_434,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/88aac0_49b19ce6fa2343b1957188befc1710a1~mv2.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
}

.up-2 {
  background-image: url(https://static.wixstatic.com/media/88aac0_151b51bfa40f42dca334d68c1a1ff1b6~mv2.png/v1/fill/w_434,h_434,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/88aac0_151b51bfa40f42dca334d68c1a1ff1b6~mv2.png);
  background-position: center;
  background-size: cover;
  height: 50vh;
}
.up-3 {
  background-position: center;
  background-size: cover;
  height: 50vh;
  background-image: url(https://static.wixstatic.com/media/88aac0_c73d6adcd0484d13a10fd04d3a8bd801~mv2.jpg/v1/fill/w_434,h_434,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/88aac0_c73d6adcd0484d13a10fd04d3a8bd801~mv2.jpg);
}
.down {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.longline {
  width: 90%;
  height: 1px;
  background-color: gray;
  animation: showup3 1s linear;
}
@keyframes showup3 {
  from {
    width: 5%;
  }
  to {
    width: 90%;
  }
}
.box h3 {
  font-size: 30px;
  color: #1e3b22;
}
.box p {
  font-size: 20px;
}
.about {
  width: 100%;
  /* height: 100vh; */
  background-color: #d1dcce;
  display: flex;
  flex-wrap: wrap;
}

.left {
  width: 50%;
  flex-grow: 1;
  min-width: 300px;
  height: 700px;
  background-image: url(https://static.wixstatic.com/media/88aac0_c73d6adcd0484d13a10fd04d3a8bd801~mv2.jpg/v1/fill/w_490,h_931,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/88aac0_c73d6adcd0484d13a10fd04d3a8bd801~mv2.jpg);
  background-position: center;
  background-size: cover;
}
.right {
  width: 50%;
  background-color: #d1dcce;
  display: flex;
  flex-direction: column;
  padding: 60px;
  gap: 40px;
  flex-grow: 1;
  min-width: 300px;
}
.kid {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-grow: 1;
  font-size: 18px;
}
.kid h2 {
  font-size: 50px;
  /* width: 350px; */
  font-family: myfont;
  font-weight: 100;
  color: #1e3221;
}
.kid h3 {
  color: #1e3221;
  font-family: myfont;
}
.kid p {
  font-family: myfont1;
  color: #1e3221;
  font-weight: lighter;
}
.client {
  width: 100%;
  height: 60vh;
  background-color: #d1dcce;
  display: flex;
  flex-wrap: wrap;
}
.left-client {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px;
  flex-grow: 1;
  min-width: 300px;
}
.left-client h1 {
  font-size: 50px;
  color: #1e3b22;
  font-family: myfont;
  font-weight: 100;
}
.left-client p {
  font-size: 20px;
  color: #1e3b22;
}
.right-client {
  width: 50%;
  background-color: rgb(241, 241, 227);
  display: flex;
  justify-content: center;
  flex-grow: 1;
  min-width: 300px;
}
.div-client {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  font-size: 30px;
}
.why {
  width: 100%;
  /* height: 80vh; */
  background-color: #2a492e;
  display: flex;
  flex-wrap: wrap;
}
.left-why {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px;
  flex-grow: 1;
  min-width: 300px;
}

.left-why h1 {
  font-size: 60px;
  color: white;
  font-family: myfont;
  font-weight: 100;
}
.left-why p {
  font-size: 15px;
  color: white;
  font-family: myfont2;
}
.right-why {
  width: 50%;
  background-color: rgb(241, 241, 227);
  display: flex;
  justify-content: end;
  padding: 20px;
  flex-grow: 1;
  min-width: 300px;
  font-family: myfont2;
}
.child-why {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.touch {
  width: 100%;
  height: 100vh;
  background-color: rgb(241, 241, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.child-touch {
  width: 80%;
  height: 80vh;
  background-color: #d1dcce;
  display: flex;
  flex-wrap: wrap;
}
.left-touch {
  width: 50%;
  height: 80vh;
  background-image: url(https://static.wixstatic.com/media/88aac0_5a2ebb6a0f914748a25188fe966ef2f1~mv2.jpg/v1/fill/w_490,h_637,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/88aac0_5a2ebb6a0f914748a25188fe966ef2f1~mv2.jpg);
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  min-width: 200px;
}
.right-touch {
  width: 50%;
  height: 80vh;
  /* background-color: skyblue; */
  flex-grow: 1;
  min-width: 200px;
  display: flex;
  justify-content: center;
}
.touchh1 {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}
.touchh1 h1 {
  color: #1e3b22;
  font-family: myfont;
  font-weight: 100;
}
.right-touch-form {
  width: 80%;
  height: 80vh;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  align-items: center;
}
form {
  width: 80%;
  height: 80vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.submit {
  border: none;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: myfont3;
  font-size: 20px;
}
.submit:hover {
  background-color: white;
  color: #1e3b22;
  border: 1px solid gray;
}
input {
  height: 50px;
  /* width: 500px; */
  border: none;
  border-bottom: 1px solid gray;
  background-color: #d1dcce;
}
textarea {
  /* width: 500px; */
  height: 80px;
  border: none;
  border-bottom: 1px solid gray;
  background-color: #d1dcce;
}
.inputname {
  /* width: 200px; */
  height: 40px;
}
.names {
  display: flex;
  justify-content: space-between;
}
.firstname {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.lastname {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.email {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.phone {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.message {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
label {
  font-size: 25px;
  color: #1e3b22;
}

footer {
  width: 100%;
  height: 50vh;
  background-color: rgb(241, 241, 227);
  display: flex;
  flex-wrap: wrap;
}
.left-footer {
  width: 50%;
  height: 50vh;
  /* background-color: yellow; */
  display: flex;
  flex-grow: 1;
  min-width: 200px;
}
.left-carter {
  width: 50%;
  height: 50vh;
  /* background-color: red; */
  padding: 30px;
  font-size: 40px;
}
.right-info {
  /* width: 50%; */
  height: 50vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 20px;
  padding-bottom: 60px;
}
.line-footer {
  width: 200px;
  height: 1px;
  background-color: gray;
}
.foot-number {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.right-footer {
  width: 50%;
  background-color: rgb(241, 241, 227);
  display: flex;
  justify-content: end;
  flex-grow: 1;
  min-width: 320px;
  /* flex-grow: 1; */
  /* min-width: 200px; */
}
.div-footer {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  font-size: 20px;
}
.agreement {
  display: flex;
}
.input-footer {
  width: 300px;
  background-color: rgb(241, 241, 227);
}
.button-footer {
  width: 300px;
}
.button-footer:hover {
  background-color: white;
  color: #1e3b22;
  border: 1px solid gray;
}
.agree-foot {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  nav {
    display: none;
  }
  .burger {
    display: flex;
  }
  .myCart {
    order: -1;
  }

  .overlay {
    padding: 15px;
  }

  .left-image {
    height: 50vh;
  }
  .right-image {
    height: 50vh;
  }
  .center-box h1 {
    font-size: 28px;
  }
  .center-box {
    height: 40vh;
  }
}
@media screen and (max-width: 400px) {
  .booklesson h1 {
    font-size: 30px;
  }

  .left-client {
    padding: 30px;
  }
  .left-client h1 {
    font-size: 30px;
  }
  .right-client p {
    font-size: 20px;
  }
  .right-client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .div-client {
    width: 60%;
  }
  .child-why {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .kid h2 {
    font-size: 40px;
    width: 300px;
  }

  .right {
    padding: 30px;
    order: -1;
  }
}

@media screen and (max-width: 1100px) {
  .left-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
  }

  .right-footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .input-footer {
    /* background-color: red; */
    width: 250px;
  }
  .right-footer button {
    /* background-color: red; */
    width: 250px;
  }

  .connectwith {
    width: 300px;
  }

  .left-carter {
    font-size: 25px;
    margin-right: 70px;
  }
  .names {
    display: flex;
    flex-direction: column;
  }
  .touch {
    display: flex;
    align-items: start;
    height: auto;
  }

  .child-touch {
    width: 100%;
  }
  .left-touch {
    width: 100%;
    height: 30vh;
  }

  form {
    height: 30vh;
  }

  input {
    width: 200px;
  }
  textarea {
    width: 200px;
  }
  .submit {
    width: 200px;
    font-size: 20px;
  }
  .touchh1 {
    font-size: 9px;
    margin: 10px;
    padding: 10px;
  }
  label {
    font-size: 20px;
  }
  .firstname {
    display: flex;
    gap: 0px;
  }
  .lastname {
    display: flex;
    gap: 0px;
  }
  .email {
    display: flex;
    gap: 0px;
  }
  .phone {
    display: flex;
    gap: 0px;
  }
  .message {
    display: flex;
    gap: 0px;
    height: 50px;
  }
}
