<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/contact.css" />
    <link rel="stylesheet" href="../styles/common.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <div class="child">
          <a href="../index.html">L. Carter</a>
        </div>
      </div>

      <input type="checkbox" name="" id="chek" />
      <label for="chek">
        <div class="burger">
          <div class="lineburger"></div>
          <div class="lineburger"></div>
          <div class="lineburger"></div>
        </div>
      </label>

      <nav>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../templates/about.html">About</a></li>
          <li><a href="./services.html">Services</a></li>
          <li><a href="../templates/book.html">Book Online</a></li>
          <li><a href="../templates/contact.html">Contact</a></li>
          <i class="fa-solid fa-basket-shopping myCart"></i>
        </ul>
      </nav>
    </header>

    <section class="contact">
      <div class="left-contact">
        <h1>Reach Out To Us</h1>
      </div>

      <div class="right-contact">
        <div class="right-contact-form">
          <div class="intro">
            <p>We are here to answer all your questions and inquiries.</p>
            <h3>Get in Touch With Us</h3>
          </div>
          <form action="">
            <div class="names">
              <div class="firstname">
                <label for="">First Name*</label>
                <input required class="inputname" type="text" name="" id="" />
              </div>
              <div class="lastname">
                <label for="">Last Name*</label>
                <input required class="inputname" type="text" name="" id="" />
              </div>
            </div>
            <div class="email">
              <label for="">Email*</label>
              <input required type="email" name="" id="" />
            </div>
            <div class="phone">
              <label for="">Phone</label>
              <input required type="tel" name="" id="" />
            </div>
            <div class="message">
              <label for="">Message</label>
              <textarea name="" id=""></textarea>
            </div>
            <button class="submit">Submit</button>
          </form>
        </div>
      </div>
    </section>

    <footer>
      <div class="left-footer">
        <div class="left-carter">L. Carter</div>

        <div class="right-info">
          <div class="foot-number">
            <p>123-456-7890</p>
            <p>info@mysite.com</p>
          </div>
          <div class="addres">
            <p>500 Terry Francine St.</p>
            <p>San Francisco, CA 94158</p>
          </div>
          <div class="line-footer"></div>
          <div class="privacy">
            <p>Privacy Policy</p>
            <p class="Statement">Accessibility Statement</p>
          </div>
        </div>
      </div>
      <div class="right-footer">
        <div class="div-footer">
          <p class="connectwith">Connect With Us</p>
          <label for="">Email*</label>
          <input class="input-footer" required type="email" name="" id="" />
          <div class="agreement">
            <input required class="agree-foot" type="checkbox" name="" id="" />
            <p class="yes">Yes, subscribe me to your newsletter.*</p>
          </div>
          <button class="button-footer">Submit</button>
        </div>
      </div>
    </footer>
  </body>
</html>
