@font-face {
  font-family: myfont;
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

.about {
  width: 100%;
  height: 90vh;
  background-color: rgb(241, 241, 227);
  display: flex;
  margin-top: 70px;
  flex-wrap: wrap;
}
.right-about {
  width: 50%;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  /* min-width: 400px; */
  background-image: url(https://static.wixstatic.com/media/88aac0_f88ea4e5425c44ea8fb52b1a0062d8a2~mv2.png);
}
.left-about {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 400px;
  align-items: center;
  flex-grow: 1;
  min-width: 400px;
}
.up-about {
  /* width: 450px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-family: myfont;
}
.line {
  width: 450px;
  height: 1px;
  background-color: gray;
}
.down-about {
  /* width: 500px; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.down-about h2 {
  color: #2a492e;
  font-size: 50px;
  font-family: myfont;
  font-weight: 100;
}
.down-about p {
  width: 500px;
  font-size: 20px;
  color: #2a492e;
  text-align: center;
}

.aboutDown {
  width: 100%;
  /* height: 200vh; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(241, 241, 227);
}

.col {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
  margin-left: 60px;
}
.col h2 {
  font-size: 50px;
  width: 300px;
  color: #2a492e;
  font-family: myfont;
  font-weight: 100;
}
.col p {
  width: 300px;
  font-size: 20px;
  color: #2a492e;
}
.col .secondp {
  width: 270px;
  color: #2a492e;
}

.img1 {
  width: 80%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url("https://static.wixstatic.com/media/11062b_c092fc971f8e464db6a2a0b82b02af38~mv2.jpg/v1/fill/w_403,h_489,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Gym%20Instructor.jpg 1x, https://static.wixstatic.com/media/11062b_c092fc971f8e464db6a2a0b82b02af38~mv2.jpg/v1/fill/w_806,h_978,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Gym%20Instructor.jpg 2x");
}
.img2 {
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 500px;
  background-image: url("https://static.wixstatic.com/media/11062b_56d0c25b0b1a4304a5fe9ea9d2ac3253~mv2.jpg/v1/crop/x_1937,y_41,w_2466,h_2992/fill/w_403,h_489,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Yogi%20with%20Mat%20.jpg");
}
.img3 {
  background-image: url("https://static.wixstatic.com/media/11062b_8679e68088fa4759a3a938b9b70ffe46~mv2.jpg/v1/crop/x_198,y_343,w_2043,h_2479/fill/w_403,h_489,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Fitness%20Instructor.jpg");
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 500px;
}
.img4 {
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 500px;
  background-image: url(https://static.wixstatic.com/media/11062b_5a1f6f2649fa4255a0f834f26e1d7a4b~mv2.jpg/v1/crop/x_1295,y_191,w_2463,h_2991/fill/w_403,h_489,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Yogi%20Sitting%20on%20Mat.jpg);
}

@media screen and (max-width: 900px) {
  .aboutDown {
    grid-template-columns: 1fr;
  }
  .colMiddle {
    display: none;
  }
  .left-about {
    display: flex;
    gap: 5px;
    justify-content: center;
    /* align-items: end; */
  }
  .down-about p {
    width: 250px;
  }
  .down-about {
    width: 200px;
  }
  .up-about {
    width: 200px;
  }
  .down-about h2 {
    width: 250px;
    font-size: 30px;
    display: flex;

    text-align: center;
  }
  .col .secondp {
    width: 200px;
  }
  .col h2 {
    font-size: 30px;
    width: 200px;
  }
  .col p {
    width: 200px;
  }
  .down-about .line {
    width: 300px;
  }
  .up-about .line {
    width: 300px;
  }
}
