@font-face {
  font-family: myfont;
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: myfont2;
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

.book {
  width: 100%;
  /* height: 80vh; */
  background-color: rgb(241, 241, 227);
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.parent {
  width: 80%;
  /* height: 80vh; */
  /* background-color: skyblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 50px;
}
.box {
  width: 300px;
  height: 500px;
  border: 1px solid gray;
  flex-grow: 1;
  min-width: 300px;
}
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  font-family: myfont;
  font-weight: 100;
}
.box h2 {
  color: #2a492e;
}
.box p {
  color: #2a492e;
}
.up-1 {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 200px;
  background-image: url(https://static.wixstatic.com/media/88aac0_49b19ce6fa2343b1957188befc1710a1~mv2.jpg/v1/fill/w_290,h_194,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/88aac0_49b19ce6fa2343b1957188befc1710a1~mv2.jpg);
}
.up-2 {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 200px;
  background-image: url(https://static.wixstatic.com/media/88aac0_151b51bfa40f42dca334d68c1a1ff1b6~mv2.png/v1/fill/w_290,h_194,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/88aac0_151b51bfa40f42dca334d68c1a1ff1b6~mv2.png);
}
.up-3 {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 200px;
  background-image: url(https://static.wixstatic.com/media/88aac0_c73d6adcd0484d13a10fd04d3a8bd801~mv2.jpg/v1/fill/w_290,h_194,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/88aac0_c73d6adcd0484d13a10fd04d3a8bd801~mv2.jpg);
}
.down {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
}

.line {
  width: 230px;
  height: 1px;
  background-color: gray;
}
button {
  width: 100px;
  height: 40px;
  background-color: #2a492e;
  border: none;
  color: white;
  cursor: pointer;
  font-family: myfont2;
  font-weight: 500;
}
button:hover {
  text-decoration: underline;
}
.bookh1 h1 {
  color: #2a492e;
  font-size: 40px;
  font-family: myfont;
  font-weight: 100;
}
@media screen and (max-width: 600px) {
  .parent {
    display: flex;
    flex-direction: row;
  }
}
