@font-face {
  font-family: myfont;
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: myfont2;
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

.contact {
  width: 100%;
  height: 100vh;
  background-color: #2a492e;
  margin-top: 70px;
  flex-wrap: wrap;
  display: flex;
}
.left-contact {
  width: 50%;
  padding: 50px;
  flex-grow: 1;
  min-width: 300px;
  font-size: 20px;
}
.left-contact h1 {
  color: white;
  font-family: myfont;
  font-weight: 100;
}
.intro {
  width: 480px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;

  gap: 50px;
}
.intro p {
  font-size: 20px;
  width: 400px;
  font-family: myfont;
  font-weight: 100;
}
.right-contact {
  width: 50%;
  background-color: rgb(241, 241, 227);
  flex-grow: 1;
  min-width: 300px;
}
.right-contact-form {
  gap: 30px;
  width: 100%;
  /* height: 100vh; */
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.intro h3 {
  font-family: myfont;
  font-weight: 100;
  color: #1e3b22;
}
form {
  width: 50%;
  height: 60vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.submit {
  border: none;
  width: 500px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #1e3b22;
  color: white;
  height: 40px;
  font-family: myfont2;
  font-weight: 500;
}
.submit:hover {
  background-color: white;
  color: #1e3b22;
  border: 1px solid gray;
}
input {
  height: 50px;
  width: 500px;
  border: 1px solid #1e3b22;
  background-color: rgb(241, 241, 227);
}
textarea {
  width: 500px;
  height: 80px;
  border: 1px solid #1e3b22;
  background-color: rgb(241, 241, 227);
}
.inputname {
  width: 200px;
  height: 40px;
}
.names {
  display: flex;
  gap: 98px;
}
.firstname {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.lastname {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.email {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.phone {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.message {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 1300px) {
  .names {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  /* .child-touch {
    width: 100%;
  } */
  /* .left-touch {
    width: 100%;
    height: 30vh;
  } */

  form {
    height: 30vh;
  }

  input {
    width: 200px;
  }
  textarea {
    width: 200px;
  }
  .submit {
    width: 200px;
    font-size: 20px;
    margin-top: 5px;
  }
  .touchh1 {
    font-size: 9px;
    margin: 10px;
    padding: 10px;
  }
  .intro {
    width: 300px;
    margin-left: 50px;
  }
  .intro p {
    width: 300px;
  }
  label {
    font-size: 20px;
  }
  .firstname {
    display: flex;
    gap: 0px;
  }
  .lastname {
    display: flex;
    gap: 0px;
  }
  .email {
    display: flex;
    gap: 0px;
  }
  .phone {
    display: flex;
    gap: 0px;
  }
  .message {
    display: flex;
    gap: 0px;
    height: 50px;
  }
  .left-contact {
    padding: 10px;
    font-size: 17px;
    display: flex;

    align-items: center;
  }
}
