@font-face {
  font-family: myfont;
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: myfont2;
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

.services {
  width: 100%;
  height: 100vh;
  background-color: #2a492e;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}
.left-services {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 60px;
  flex-grow: 1;
  min-width: 300px;
}

.left-services h1 {
  font-size: 60px;
  color: white;
  font-family: myfont;
  font-weight: 100;
}
.left-services p {
  font-size: 20px;
  color: white;
  font-family: myfont2;
}
.right-services {
  width: 50%;
  background-color: rgb(241, 241, 227);
  /* height: 100vh; */
  flex-grow: 1;
  min-width: 300px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.right-text {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.paragraph {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-right: 20px;
}
.right-paragraph {
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: flex;
}
.expert {
  width: 400px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.longline {
  width: 400px;
  height: 1px;
  background-color: gray;
}
@media screen and (max-width: 600px) {
  .right-text {
    gap: 5px;
    /* padding: 10px; */
    margin-right: 1px;
    display: flex;
    align-items: center;
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: 90px;
  }
  .expert {
    margin-left: 100px;
    width: 300px;
  }
  .left-services {
    padding: 30px;
  }
}
